#sf_admin_container .textAlignRight {
  text-align: right;
}

#sf_admin_container .sf_admin_filter tbody, #sf_admin_container .sf_admin_filter tfoot {
  display: none;
}

li.sf_admin_action_new a {
  background: url(../images/greenbutton.png) right 0px;
  height: 34px;
  width: 107px;
}

li.sf_admin_action_new a:hover {
  background: url(../images/greenbutton.png) right 34px;
  height: 34px;
}

li.sf_admin_action_new a:active {
  background: url(../images/greenbutton.png) right 68px;
  height: 34px;
}
