#sf_admin_container .textAlignRight {
  text-align: right;
}

#sf_admin_container .sf_admin_filter tbody, #sf_admin_container .sf_admin_filter tfoot {
  display: none;
}

li.sf_admin_action_new {
  background: url(../images/greenbutton.png) right 0px;
  height: 33px;
}

li.sf_admin_action_new:hover {
  background: url(../images/greenbutton.png) right 33px;
  height: 33px;
}

li.sf_admin_action_new:active {
  background: url(../images/greenbutton.png) right 66px;
  height: 33px;
}
