#sf_admin_container .textAlignRight {
  text-align: right;
}

#sf_admin_container .sf_admin_filter tbody, #sf_admin_container .sf_admin_filter tfoot {
  display: none;
}

#sf_admin_container ul li.sf_admin_action_new a {
  padding-left: 0;
  background: url(../images/greenbutton.png) right 0px;
  height: 34px;
  width: 107px;
  text-align:center;
  text-decoration:none;
  line-height: 34px;
  display: inline-block;
  color: #fff;
}

#sf_admin_container ul li.sf_admin_action_new a:hover{
  background: url(../images/greenbutton.png) right 34px;
  height: 34px;
}

#sf_admin_container ul li.sf_admin_action_new a:active{
  background: url(../images/greenbutton.png) right 68px;
  height: 34px;
}

#sf_admin_container .dakPictureAutocomplete_list ul.checkbox_list
{
  list-style: none;
  margin: 1em;
}

#sf_admin_container .ui-menu 
{
  list-style:none !important;
}

.ui-autocomplete .ui-menu-item a,
#sf_admin_container .dakPictureAutocomplete_list ul.checkbox_list li
{
  display: block;
  width: 20em;
  padding: 0.2em;
  overflow: auto;
}

#sf_admin_container .dakPictureAutocomplete_list ul.checkbox_list label
{
  margin-left: 1em;
}

.ui-autocomplete .ui-menu-item a img,
#sf_admin_container .dakPictureAutocomplete_list ul.checkbox_list label img
{
  border: 1px solid #000000;
  padding: 1px;
  margin: 0 0 0.2em 0.2em;
  float: right;
  clear: right;
}
