.dak .odd {
  /*background-color: #c9c5db;*/
}

.dak .even {
  /*background-color: #a6a3b5;*/
}

.dak_padded_table td {
  padding: 8px;
}

#eventList {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}

#eventList tr {
  border-top: 1px solid #aaa;
}

#eventList tr:first-child {
  border-top: none;
}

#eventList td .primaryPicture {
  width: 130px;
  min-height: 100px;
  float: left;
  display: inline-block;
}

#eventList td .shortEvent {
  float: left;
  display: inline-block;
  margin-left: 8px;
  width: 546px; /* 700 - 130 - 2*8 - 8 */
}

#eventContent p:first-child {
  margin-top: 1em;
  margin-bottom: 1em;
}

#eventContent p {
  margin-bottom: 1em;
}

.dak_pagination {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 200px;
  text-align: center;
}
