#eventList {
  width: 50em;
  margin-left: auto;
  margin-right: auto;
}

.odd {
  background-color: #c9c5db;
}

.even {
  background-color: #a6a3b5;
}

#eventList td {
  padding: 0.5em;
}

#eventContent p:first-child {
  margin-top: 1em;
  margin-bottom: 1em;
}

#eventContent p {
  margin-bottom: 1em;
}
